header {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 0 auto;
  height: 250px;
  width: 250px;
  position: relative;
  border-radius: 5px;
  border: $figBorder;
  overflow: hidden;
  margin-bottom: 3rem;

  &__caption {
    position: absolute;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    color: $figCaption;
    border-top: $figBorder;

    span {
      display: block;
    }
  }
}

.bg-black {
  background-color: $blackHex;
}

.bg-yellow {
  background-color: $yellowHex;
}

.bg-white {
  background-color: $whiteHex;
}

.bg-purple {
  background-color: $purpleHex;
}

.gradient {
  display: flex;
  div {
    flex-grow: 1;
  }

  .bg-black:nth-of-type(1) {
    background-color: lighten($blackHex, 25%);
  }
  .bg-black:nth-of-type(3) {
    background-color: darken($blackHex, 25%);
  }

  .bg-yellow:nth-of-type(1) {
    background-color: lighten($yellowHex, 25%);
  }
  .bg-yellow:nth-of-type(3) {
    background-color: darken($yellowHex, 25%);
  }

  .bg-white:nth-of-type(1) {
    background-color: lighten($whiteHex, 25%);
  }
  .bg-white:nth-of-type(3) {
    background-color: darken($whiteHex, 25%);
  }

  .bg-purple:nth-of-type(1) {
    background-color: lighten($purpleHex, 25%);
  }
  .bg-purple:nth-of-type(3) {
    background-color: darken($purpleHex, 25%);
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@include tablet {
  .cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 250px);
    grid-auto-rows: 250px;
    gap: 2rem;
  }

  .gradient {
    margin-top: 3rem;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@include desktop {
  .cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 250px);
    grid-auto-rows: 250px;
    gap: 2rem;
  }
}
