body {
  font-size: 1.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  font-weight: 400;
}

h1 {
  font-size: 6rem;
  font-weight: 300;
  color: $title;
}

span {
  font-size: 2rem;
}
