// colors //

$black: rgb(0, 0, 0);
$yellow: rgb(255, 244, 51);
$white: rgb(255, 255, 255);
$purple: rgb(155, 89, 208);

$blackHex: #000000;
$yellowHex: #fff433;
$whiteHex: #ffffff;
$purpleHex: #9b59d0;

$title: rgb(95, 95, 95);
$figCaption: rgb(150, 150, 150);

// border //

$figBorder: 1px solid $figCaption;

// m queries //

$tablet: 768px;
$desktop: 1024px;
